footer.mt-5.pt-5.pb-4
    .container
        .row
            .col-md-2.f_about.pr-3
                h4.mb-5 Haqqımızda
                p.grey_c1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, vel possimus?
                a(href="#").my_link Daha ətraflı


            .col-md-3.f_blog.pr-3
                h4.mb-5 Blog
                .row.mb-4
                    .col-5.align-self-start
                        img(src="img/new2.jpg", alt="Person").rounded.shadow
                    .col-7.align-slef-start
                        h5:  a(href="#").my_link Məqalə başlığı
                        time.grey_c1 22 iyun 2019 
                .row
                    .col-5.align-self-start
                        img(src="img/new1.jpg", alt="Person").rounded.shadow
                    .col-7.align-slef-start
                        h5:  a(href="#").my_link Məqalə başlığı
                        time.grey_c1 22 iyun 2019 

            .col-md-4.f_nav.pr-3
                h4.mb-5 Haqqımızda
                .row
                    .col-sm-6
                        a(href="/").my_link Home
                        a(href="/services/").my_link Xidmətlər
                        a(href="/team/").my_link Heyətimiz
                        a(href="/partnyors/").my_link Partnyorlar
                    .col-sm-6
                        a(href="#").my_link Haqqımızda
                        a(href="#").my_link Bloq
                        a(href="#").my_link Qanunvericilik
                        a(href="#").my_link  Əlaqə

            .col-md-3.f_contact.pr-3
                h4.mb-5 Əlaqə
                a(href="tel:+994553272727").my_link 
                    <i class="fas fa-phone-alt"></i> 
                    span  99455 327 27 27
                a(href="mailto:info@primus.az").my_link 
                    <i class="fas fa-envelope"></i>
                    span info@primus.az  

                a(href="/team/").my_link
                    i.fas.fa-map-marker-alt 
                    span Bakı ş., Hansısa ünvanda bir ünvan                  