section.owl-carousel.owl-theme.main_carousel
    .item
        .sl_item(style="background: url(/img/sl1.jpg) 50% 50%  no-repeat; background-size: cover;")
            .container
                .sl_content.text-center
                    h3.decore_zaq.animated.slideInUp Bizimlə siz 1
                    h2.animated.slideInUp Hər zaman bir addım öndəsizsad
                    p.animated.slideInUp Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, laboriosam.
                    a(href="/").btn.animated.px-4.py-2.read_moore Müraciət et
    .item
        .sl_item(style="background: url(/img/sl2.jpg) 50% 50%  no-repeat; background-size: cover;")
            .container
                .sl_content.text-center
                    h3.decore_zaq.animated Bizimlə siz
                    h2.animated Hər zaman bir addım öndəsiz 2
                    p.animated Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, laboriosam.
                    a(href="/").btn.animated.px-4.py-2.read_moore Müraciət et  
    .item
        .sl_item(style="background: url(/img/sl3.jpg) 50% 50%  no-repeat; background-size: cover;")
            .container
                .sl_content.text-center
                    h3.decore_zaq.animated Bizimlə siz
                    h2.animated Hər zaman bir addım öndəsiz 3
                    p.animated Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, laboriosam.
                    a(href="/").btn.animated.px-4.py-2.read_moore Müraciət et  
<!-- Slider-->